@font-face {
    font-family: 'BAUHS93';
    src: url(fonts/BAUHS93.ttf);
}
@font-face {
    font-family: 'Omnes Medium';
    src: url(fonts/Omnes\ Medium.ttf);
}
.card{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #FFD700;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}
.imgcard{
    width: 175px;
    height: 225px;
    overflow: hidden;
}
.namecard{
    font-family: 'Omnes Medium';
    background-color: #FFD700;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 110%;
}
.listcard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}