@font-face {
    font-family: 'BAUHS93';
    src: url(fonts/BAUHS93.ttf);
}
@font-face {
    font-family: 'Omnes Medium';
    src: url(fonts/Omnes\ Medium.ttf);
}
*{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-around;
}
.logo{
    height: 95%;
    width: auto;
}
.nav{
    border: 3px solid #FFD700;
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
    width: 175px;
    text-align: center;
    color: black;
    font-family: 'BAUHS93';
    font-size: 200%;
    transition: all 0.5s;
}
.nav:hover{
    background-color: #FFD700;
    color: white;
}