@font-face {
    font-family: 'BAUHS93';
    src: url(../font/BAUHS93.ttf);
}
@font-face {
    font-family: 'Omnes Medium';
    src: url(../font/Omnes\ Medium.ttf);
}
main{
    background-color: rgba(0, 0, 0, 0.5);
}
.ttrindex{
    font-family: 'Omnes Medium';
    font-size: 300%;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.topindex{
    display: flex;
}
.txt{
    width: 65%;
    margin-left: 75px;
    font-family: 'BAUHS93';
    color: white;
    font-size: 150%;
    text-align: justify;
    display: flex;
    align-items: center;
}
.dessin{
    width: 35%;
    height: fit-content;
    display: flex;
    margin-right: 75px;
    margin-left: 75px;
}
.txtp{
    width: 75%;
    margin-left: 150px;
    font-family: 'BAUHS93';
    color: white;
    font-size: 150%;
    text-align: justify;
    display: flex;
    align-items: center;
}
.btn{
    margin-left: 40%;
    margin-top: 25px;
    background-color: white;
    margin-bottom: 50px;
    width: 20%;
    height: 40px;
    transition-duration: 1s;
}
.btn:hover{
    background-color: black;
    color: white;
}
.ddd{
    margin-top: 25px;
}