@font-face {
    font-family: 'BAUHS93';
    src: url(fonts/BAUHS93.ttf);
}
@font-face {
    font-family: 'Omnes Medium';
    src: url(fonts/Omnes\ Medium.ttf);
}
@keyframes slideAnimation {
    0% {
      transform: translateX(0); /* Pas de décalage au début */
    }
    100% {
      transform: translateX(50px); /* Décalage de 50 pixels à droite */
    }
}

.t{
    margin-top: 50px;
    text-align: center;
    font-family: 'BAUHS93';
    font-size: 200%;
    color: white;
}
.txt{
    font-family: 'Omnes Medium';
    margin-top: 50px;
    font-size: 150%;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}

.slide.active {
    display: block;

}
.dispo{
    margin-top: 25px;
    width: 100%;
    text-align: center;
    font-family: 'BAUHS93';
    font-size: 250%;
    margin-bottom: 50px;
}
.swiper-container-wrapper {
    /* Appliquez le fond à cet élément */
    background-image: url('../IMG/fond.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
}

.swiper-container {
    /* Assurez-vous que le swiper est transparent pour que le fond soit visible */
    background: transparent;
    width: 100%;
    overflow: hidden;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent; /* Assurez-vous que les diapositives sont transparentes pour que le fond soit visible */
    width: 100%;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}


.bg-shift-1 {
    background-position: 0px 0;
    transition: background-position 1s;
}

.bg-shift-2 {
    background-position: -50px 0;
    transition: background-position 1s;
}

.bg-shift-3 {
    background-position: -100px 0;
    transition: background-position 1s;
}