@font-face {
    font-family: 'BAUHS93';
    src: url(fonts/BAUHS93.ttf);
}
@font-face {
    font-family: 'Omnes Medium';
    src: url(fonts/Omnes\ Medium.ttf);
}
div.top{
    height: 15vh;
}
div.centre{
    border: 5px solid #FFD700;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
}
div.case{
    margin: 15px;
    
}
h2{
    display: flex;
    justify-content: center;
    font-size: 200%;
}
.submit{
    margin: 5%;
    height: 40px;
    width: 90%;
    background-color: #FFD700;
    border: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Omnes Medium';
}
.verslog{
    margin: 5%;
    margin-top: 1%;
    height: 30px;
    width: 90%;
    background-color: grey;
    border: 0px;
    font-family: 'Omnes Medium';
}
.bvn{
    font-size: 200%;
    margin-bottom: 20px;
    font-family: 'BAUHS93';
}
.deco{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-color: red;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Omnes Medium';
}
.rst{
    font-family: 'Omnes Medium';  
}
label{
    font-family: 'Omnes Medium';
}